<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67449654316-54n3kdiaf401u60bgcbgvh0f4mmlie2n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67449654316-54n3kdiaf401u60bgcbgvh0f4mmlie2n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>67449654316-feubbtagi6sdors1471ln4ub02hv5mo3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBucTVaWpYhDYScTpQ4JH9XdJgCBFmbHWk</string>
	<key>GCM_SENDER_ID</key>
	<string>67449654316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.momecoach</string>
	<key>PROJECT_ID</key>
	<string>parenting-plus-7szrif</string>
	<key>STORAGE_BUCKET</key>
	<string>parenting-plus-7szrif.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67449654316:ios:88be5e06e598d56dd55589</string>
</dict>
</plist>